.env
/scripts/
/.venv/
/.temp/
/.backup/
/config/*
!/config/config.yaml
alchemy_test.py
/random-funcs/
/wallet_data/
/data/*
!/data/**/

data/ohlcv_data/*
!data/ohlcv_data/**/

data/dune_data/*
!data/dune_data/**/

/logs/*
!/logs/**/

/not-working/
/reports/
/saved/

bots/__pycache__/*
!data/bots/**/
